body{
    margin: 0;
    padding: 0;  
}

.first-section{
    display: flex;
  
}
.first-sec-div{
    width: 50%;
    margin-left: 60px;
}
.first-sec-under{
    border-left: 5px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 2;
    height: 200px;
    
}
.first-head-one{
    font-size: 80px;

}
.first-head-two{
    font-size: 80px;
    color: blue;
    margin-top: -50px;
}
.first-sec-div p{
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: justify;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.first-sec-div img{
    width:80%;
}
.button-one{
    background-color: #23C453;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-top: 20px;

}
.second-section{
    margin-bottom: 100px;
}
.second-head-one{
    text-align: center;
    font-size: 70px;
    color: #23C453;
}
span{
    color: blue;
}
.second-sec-div{
    display: flex;
 
}
.second-sec-under{
    background-color: aqua;
    width: 25%;
    margin-left: 4%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    height: 350px;
    padding-top: 10px;
}
.second-sec-under img , .second-sec-under-one img,.second-sec-under-two img{
    width:50%;
    
}
.second-sec-under p,.second-sec-under-one p,.second-sec-under-two p{
    text-align: justify;
}
.second-sec-under-one{
    background-color: burlywood;
    width: 25%;
    margin-left: 4%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    height: 350px;
    padding-top: 10px;
}
.second-sec-under-two{
    background-color: rgb(214, 76, 76);
    width: 25%;
    margin-left: 4%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    height: 350px;
    padding-top: 10px;
}
.third-section{
    display: flex;
}
.third-sec-under-one{
    width: 50%;
    height: 505;
    margin-left: 50px;
}
.third-sec-under-one img{
    width: 90%;
    margin-left: 50px;
}
.third-sec-under-one h1{
    font-size: 60px;
    color: blue;
}
.third-sec-under-one p{
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    width: 80%;
}