body{
    margin: 0;
    padding: 0;  
}

.first-section{
    display: flex;
  
}
.first-sec-div{
    width: 50%;
    margin-left: 60px;
    
}
.first-sec-under{
    border-left: 5px solid;
    border-image: linear-gradient(#109185,#17df36);
    border-image-slice: 2;
    height: 170px;
    padding-left: 10px;
}
.first-head-one{
    font-size: 72px;
   font-family:Arial, Helvetica, sans-serif ;
   margin-top: 130px;
}
.first-head-two{
    font-size: 80px;
    color: blue;
  
}
.first-sec-div p{
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: justify;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.first-sec-div img{
    width:80%;
}
.button-one{
    background-color: #23C453;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-top: 20px;

}
.second-section{
    margin-bottom: 100px;
}
.second-head-one{
    text-align: center;
    font-size: 70px;
    color: #23C453;
}
span{
    color: blue;
}
.second-sec-div{
    display: flex;
 
}
.second-sec-under{
    background-color: aqua;
    width: 25%;
    margin-left: 4%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    height: 350px;
    padding-top: 10px;
}
.second-sec-under img , .second-sec-under-one img,.second-sec-under-two img{
    width:50%;
    
}
.second-sec-under p,.second-sec-under-one p,.second-sec-under-two p{
    text-align: justify;
}
.second-sec-under-one{
    background-color: burlywood;
    width: 25%;
    margin-left: 4%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    height: 350px;
    padding-top: 10px;
}
.second-sec-under-two{
    background-color: rgb(238, 104, 104);
    width: 25%;
    margin-left: 4%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    height: 350px;
    padding-top: 10px;
}
.third-section{
    display: flex;
    background-image: url(images/pictures/dream-bg.png);
    background-repeat: no-repeat;
   
}
.third-sec-under-one{
    width: 50%;
    height: 505;
    margin-left: 50px;
}
.third-sec-under-one img{
    width: 90%;
    margin-left: 50px;
}
.third-sec-under-one h1{
    font-size: 60px;
    color: blue;
}
.third-sec-under-one p{
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    width: 80%;
}
.four-section{
    display: flex;
    margin-top: 100px;
}
.four-section .another-one {
     margin-left: 100px;
}
.four-section .third-sec-under-one img{
    margin-left: -15px;
}
footer{
    background-color: black;
    padding: 30px 0px;
    margin-top: 100px;
}
footer h1{
    color: rgb(46, 211, 40);
    text-align: center;
}
footer p{
    text-align: center;
    color: rgb(240, 228, 228);
    font-size: 20px;
}
.java{
   width: 25%;
   box-shadow: 3px 3px 20px #9d7777;
   padding: 30px 0px;
   padding-right: 35px;
   margin-left: 70px;
   background-color: rgb(248, 235, 237);
   border: 1px solid blue;
   border-radius: 10px;
}
.java h1{
    text-align: center;
    color: rgb(23, 8, 92);
    font-size: 30px;
}

.java p{
    margin-left: 40px;
    text-align: justify;
}
.java img{
    width: 35%;
    margin-left:120px;
    
}
.learn-box{
    display: flex;
    margin-top: 100px;
}
.ex-java{
    background-color: #ffe29f;
}